cffi==2.0.0
charset-normalizer==3.4.5
cryptography==46.0.5
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.1
psycopg2==2.9.11
psycopg2-binary==2.9.11
pycparser==3.0
pypdfium2==5.6.0
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
shiboken6==6.10.2
